# Homework: Analyzing Supermarket Sales Data

## Objective
Apply your Python and Pandas skills to analyze a dataset of supermarket sales. This assignment is similar to the "Ecommerce Purchases" practice we did in class.

## Dataset
We will use the **Supermarket Sales** dataset. It contains historical record of sales data in 3 different branches of a supermarket.

**Download Link**: [Supermarket Sales on Kaggle](https://www.kaggle.com/datasets/faresashraf1001/supermarket-sales)



1. Download the dataset as zip and extract it.
2. Place the file in the same folder as this notebook.
3. Rename it to `supermarket_sales.csv` for easier loading (optional, but recommended).

### 1. Setup
Import the necessary libraries: `pandas`, `matplotlib.pyplot`, and `seaborn`.

In [1]:
# Your code here
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

### 2. Load the Data
Load the CSV file into a DataFrame named `df`.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/geekcourses/ProgressBG-ChatGPT_and_ML-Slides/refs/heads/main/pages/themes/Practice_PythonForDataAnalyses/Tasks_and_HW/supermarket_sales.csv')

In [3]:
# Display the first 5 rows.
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

### 3. Data Inspection
1. Check the shape of the dataset (number of rows and columns).
2. Display the column names and their data types (`.info()`).
3. Check for any missing values.

In [4]:
# Your code here

### 4. Analysis Questions

**Q1: What is the average 'Rating' given by customers?**

In [5]:
# Your code here

**Q2: Which 'Payment' method is the most popular?**

In [6]:
# Your code here

**Q3: What are the unique 'Product line' categories? How many are there?**

In [7]:
# Your code here

**Q4: Which 'City' has the highest total sales (sum of 'Total' column)?**
*Hint: You might need to group by City and sum the Total.*

In [8]:
# Your code here

### 5. Visualization

**Task 1: Create a Histogram of the 'Total' purchase amounts.**
This will show us the distribution of how much people spend per transaction.

In [9]:
# Your code here

**Task 2: Create a Count Plot (Bar Chart) for 'Product line'.**
Show which product lines are purchased most frequently. 
*Tip: Use `sns.countplot()` or `sns.barplot()`.*

In [10]:
# Your code here

### 6. Bonus / Advanced
**Q: Does 'Gender' affect the 'Rating'?**
Compare the average rating given by females vs males.

In [11]:
# Your code here